button {
    color: white;
    background-color: blue;
    border-radius: 1em;
    font-size: 1.5rem;
}

input {
    width: 15%;
    margin: 0 auto;
}

#fakeForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: aliceblue;
}

#lrButtonBar {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    background-color: aliceblue;
}

#navBar {
    color: navy;
    background-color: aquamarine;
    width: 95%;
    font-size: 2rem;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Mukta', sans-serif;
}